#img__bike { width: 100%; }
#index {
    .content-container {
        display: flex;
        flex-flow: column;
    }
    .txt-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;   
        flex-flow: column;
        margin-top: 6rem;
        margin-bottom: 8rem;
        margin-right: 8rem;
        margin-left: 8rem;
        h3, h4 {
            font-weight: 100;
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }
        p { max-width: 73%; }
    }
    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;   
        flex-flow: row;
        text-align: center;
        margin-bottom: 3rem;
        div {
            margin: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;   
            flex-flow: column;
            text-align: center;
        }
        a {
            color: #ffffff;
            background-color: #31666B;
            border-radius: 25px;
            padding: 1em 2em;
            position: relative;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            margin: 1rem;
        }
        a:hover { opacity: 0.7; }
        p {
            line-height: 1em;
        }
    }
    .app-container {
        display: flex;
        justify-content: right;
        align-items: center;   
        flex-flow: row nowrap;
        text-align: right;
        text-align-last: right;
        p { 
            max-width: 100%; 
            margin-bottom: 2rem;
        }
        a {
            color: #ffffff;
            background-color: #31666B;
            border-radius: 25px;
            padding: 1em 2em;
            position: relative;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.3em;
        }
        a:hover { opacity: 0.7; }
    }
    .review-container {
        display: flex;
        justify-content: center;
        align-items: center;   
        flex-flow: row;
        h3 {
            margin-top: 2rem;
        }
    }
}

#img__app {
    width: 12rem;
    margin: 5rem;
}
.star-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-flow: column;
    i { 
        color: #F6880A; 
        font-size: 1.5em;
        margin-top: 1em;
        margin-left: 0.4rem;
    }
    i:hover {
        opacity: 0.5;
    }
    p {
        font-style: italic;
        margin-top: 1em;
    }
}